:root {
    --text-color: white;
    --background-color: #121212;
    --end-color: rgb(17, 17, 43);
    --end-border-color: #212121;
    --fancy-color: turquoise;
    --fancy-color2: rgb(154, 32, 179);
    --circle: rgb(90, 100, 241);
}

/* Universal Selector */

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: merriweather, serif;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--background-color);
}
  
h1,
h2 {
    margin: 20px;
}

h1 {
    color: var(--fancy-color2);
    font-size: 3rem;
}
  
nav li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

header,
footer {
    height: 60px;
    width: 100vw;
    line-height: 60px;
    background-color: rgb(17, 17, 43);
    text-overflow: ellipsis;
    white-space: nowrap;
}

header {
    display: inline-block;
    position: relative;
    border-bottom: 1px solid var(--end-border-color);
    margin-bottom: 6vh;
    z-index: 30;
}

footer {
    display: inline-block;
    position: relative;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    width: 100vw;
    text-align: center;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 20px;
    order: 2;
}

.intro {
    order: 1;
    margin: 0 auto;
}

main {
    flex: 1;
    height: 100vh;
    background-color: var(--background-color);
    padding: 60px 0;
    margin-bottom: 5px;
    animation: transitionIn 0.75s;
}

.apps {
    order: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50;
    grid-template-areas: 
        "sect1 sect2"
        "sect3 sect4";
}

.apps a:nth-of-type(1) {
    grid-area: sect1;
}

.apps a:nth-of-type(2) {
    grid-area: sect2;
}
.apps a:nth-of-type(3) {
    grid-area: sect3;
}
.apps a:nth-of-type(4) {
    grid-area: sect4;
}

.apps div:hover {
    box-shadow: inset 0 0 8px var(--fancy-color), 0 0 15px var(--fancy-color);
    transform: scale(1.05, 1.05);
}

div {
    background-position: center;
    background-size: cover;
    border: 1px solid var(--end-border-color);
    height: 20vh;
    width: 30vw;
    max-width: 720px;
    border-radius: 14px;
    background-color: var(--end-color);
}

.sect1 {
    background-image: url(../calculator.jpg);
}

.sect2 {
    background-image: url(../led-wall.jpg);
}

.sect3 {
    background-image: url(../puzzle.jpg);
}

.sect4 {
    background-image: url(../workout.jpg);
}

/* Class Selectors */
.text-center {
    text-align: center;
}
  
.text-right {
    text-align: right;
}

p {
    margin: 24px;
    line-height: 26px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.fancy {
    color: var(--fancy-color);
}

@media screen and (max-width: 768px) {

    nav li a{
      font-size: 4vw;
    }
    
    footer a {
      font-size: 3vw;
    }
  
    .apps {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 4);
    grid-template-areas: 
        "sect1" 
        "sect2"
        "sect3" 
        "sect4";
    justify-items:  center;
  }

  .float-left .float-right{ 
    clear: both;
  }
  .sect1 .sect2 .sect3 .sect4 {
      margin: 0 auto;
  }
  div {
      width: 90vw;
  }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateY(-10px);
    }
    
    to {
        opacity: 1;
        transform: rotateY(0);
    }
}