:root {
    --text-color: white;
    --background-color: #121212;
    --end-color: rgb(17, 17, 43);
    --end-border-color: #212121;
    --fancy-color: turquoise;
    --fancy-color2: rgb(154, 32, 179);
    --circle: rgb(90, 100, 241);
}

/* Universal Selector */

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: merriweather, serif;
    font-size: 20px;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
}

main {
    animation: transitionIn 0.75s;
}
 
h1,
h2 {
    margin: 20px;
}

nav li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

header,
footer {
    height: 60px;
    width: 100vw;
    line-height: 60px;
    background-color: var(--end-color);
}

header {
    display: inline-block;
    position: relative;
    border-bottom: 1px solid var(--end-border-color);
    margin-bottom: 6vh;
    z-index: 30;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    flex: 3;
    background-color: var(--background-color);
    padding: 20px;
    order: 2;
}

footer {
    display: inline-block;
    position: relative;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

/* Class Selectors */
.text-center {
    text-align: center;
}
  
.text-right {
    text-align: right;
}

p {
    margin: 24px;
    line-height: 26px;
}

/* Contact Form Specific */

.info-box {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 35vh;
    background-color: var(--background-color);
    padding: 20px;
}

.info-box h1 {
    font-size: 3rem;
}

.info-box a {
    color: var(--fancy-color);
}

.socials {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 3% 3%;
    min-height: 24vh;
    background-color: #121212;
}

div h1 {
    width: 100vw;
    color: var(--fancy-color2);
}

div p {
    margin-left: 16vw;
    margin-right: 16vw;
}

.socials ul {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.socials ul li {
    position: relative;
    list-style-type: none;
    margin: 0 20px;
    cursor: pointer;
}

.socials ul li a {
    text-decoration: none;
}

.socials ul li a .fa {
    font-size: 6em;
    color:#212121;
}

.socials ul li::before {
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 6em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.socials ul li:nth-child(1)::before {
    content: "\f099";
    color: #1da1f2;
    border-bottom: 4px solid #1da1f2;
}

.socials ul li:nth-child(2)::before {
    content: "\f09b";
    color: #fafafa;
    border-bottom: 4px solid #fafafa;
}

.socials ul li:nth-child(3)::before {
    content: "\f0e1";
    color: #0077b5;
    border-bottom: 4px solid #0077b5;
}
.socials ul li:hover::before {
    height: 100%;
}

.socials ul li::before {
    pointer-events: none;
}

/* Style inputs with type="text", select elements and textareas */

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    background-color: rgb(17, 17, 43);
    border-radius: 20px;
    display: flex;
    flex-shrink: 1;
    float: center;
    flex-direction: column;
  }

input[type=text], select, textarea {
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2px; /* Add a top margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: black; 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=button] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    background-color: var(--background-color);
    padding: 20px;
    display: flex;
  }

@media screen and (max-width: 768px) {
  aside{
    order: 1;
  }    

  .home-content {
    order: 2;
  }  
  
  section {
    flex-wrap: none;
  }

  h1 {
    width: 100vw;
  }

  p {
    width: 100vw;
  }

  nav {
      font-size: 4vw;
  }

  footer a {
    font-size: 4vw;
  }
  
  .socials ul li a .fa {
    font-size: 20vw;
  }
  .socials ul li::before {
    font-size: 20vw;
  }
}


@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateY(-10px);
    }
    
    to {
        opacity: 1;
        transform: rotateY(0);
    }
}