:root {
    --text-color: white;
    --background-color: #121212;
    --end-color: rgb(17, 17, 43);
    --end-border-color: #212121;
    --fancy-color: turquoise;
    --fancy-color2: rgb(154, 32, 179);
    --circle: rgb(90, 100, 241);
}

/* Universal Selector */

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: merriweather, serif;
    font-size: 20px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}
  
h1,
h2 {
    margin: 20px;
}
  
nav li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

header,
footer {
    height: 60px;
    width: 100vw;
    line-height: 60px;
    background-color: rgb(17, 17, 43);
}

header {
    display: inline-block;
    position: relative;
    border-bottom: 1px solid var(--end-border-color);
    margin-bottom: 6vh;
    z-index: 30;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 0;
    height: 100vh;
    background-color: #121212;
    padding: 60px 0;
    margin-bottom: 5px;
    animation: transitionIn 0.75s;
}

aside {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #121212;
    margin-top: 7%;
    padding: 20px;
    align-items: center;
    max-width: 468px;
    max-height: 468px;
}

aside img {
    order: 2;
}
  
aside h2 {
    position: relative;
    z-index: 1;
    order: 1;
    transform: translate(-80px, 40px) rotate(-24deg);
}

span {
    display: inline-block;
}

.fancy{
    color: turquoise;
}

.this {
    transform: rotate(-11deg);
}

.is {
    transform: translate(0, -4px) rotate(0deg);
}

.me {
    transform: rotate(8deg);
}


section {
    flex: 3;
    background-color: #121212;
    padding: 20px;
    order: 2;
}

footer {
    display: inline-block;
    position: relative;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

.home-content {
    margin: auto 0;
}

.home-content h1 {
    font-size: 3rem;
    color: rgb(154, 32, 179);
}

.round {
    width: 351px;
    padding: 10px;
    border: 5px solid rgb(90, 100, 241);
    border-radius: 50%;
    position: relative;
    z-index: 10;
}

/* Class Selectors */
.text-center {
    text-align: center;
}
  
.text-right {
    text-align: right;
}

p {
    margin: 24px;
    line-height: 26px;
}


@media screen and (max-width: 768px) {
  aside img{
    order: 1;
    max-width: 234px;
    max-height: 234px;
  }    

  .home-content {
    order: 2;
  }

  
  nav {
    font-size: 4vw;
  }

  footer a {
    font-size: 4vw;
  }

  .this {
    transform: translate(1px, 15px)rotate(-24deg);
  }

  .is {
    transform: translate(0px, 1px) rotate(-12deg);
  }

  .me {
    transform: translate(2px, 0px) rotate(4deg);
  }

}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateY(-10px);
    }
    
    to {
        opacity: 1;
        transform: rotateY(0);
    }
}