/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box
}

/* Element Selectors */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #121212;
}
  
h1,
h2 {
    margin: 20px;
}
  
nav li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

header,
footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: rgb(17, 17, 43);
}

header {
    position: fixed;
    border-bottom: 1px solid #212121;
    z-index: 30;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 0;
    height: 100vh;
    background-color: #121212;
    padding: 60px 0;
    margin-bottom: 5px;
}

aside {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #121212;
    margin-top: 7%;
    padding: 20px;
    align-items: center;
}

aside img {
    order: 2;
}
  
aside h2 {
    position: relative;
    z-index: 1;
    order: 1;
    transform: translate(-80px, 40px) rotate(-24deg);
}

span {
    display: inline-block;
}

.this {
    transform: rotate(-11deg);
}

.is {
    transform: translate(0, -4px) rotate(0deg);
}

.me {
    transform: rotate(8deg);
}

section {
    flex: 3;
    background-color: #121212;
    padding: 20px;
    order: 2;
}

footer {
    display: flex;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}

.round {
    width: 351px;
    padding: 10px;
    border: 5px solid rgb(90, 100, 241);
    border-radius: 50%;
    position: relative;
    z-index: 10;
}

/* Class Selectors */
.text-center {
    text-align: center;
}
  
.text-right {
    text-align: right;
}

p {
    margin: 24px;
}


@media screen and (max-width: 768px) {
  aside{
    order: 1;
  }    

  .home-content {
    order: 2;

  }
}